HTTP_PORT=8080

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=assignment
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

PG_DSN=postgres://user:password@postgres:5432/assignment?sslmode=disable

JWT_SECRET=jwt-secret
PASSWORD_SECRET=password-secret

ENV=prod